{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<main class="container">
  <div class="px-4 my-4 py-5 text-center">
    <img class="d-block mx-auto mb-3" src="/static/icons/hello.svg" alt="" width="90" height="90">
    <span class="hello-text display-1">Hello, I'm Jerry.</span>
      <p class="lead py-3 mb-4">
          Arbitrage Against The Machine is my personal blog where I write about all things related to systematic trading, 
          from programming to quantitative finance to mathematics and statistics.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ url_for('blog_page')}}" class="btn-blog btn-lg px-4 gap-3 bg-dark" role="button">BLOG</a>
        <a href="{{ url_for('about_page')}}" class="btn-about btn-lg px-4 bg-dark" role="button">ABOUT</a>
    </div>
  </div>

  {% for page in pages %}
  <div class="row py-4">
    <div class="col-3"></div>
    <div class="col text-center">
      <h4 class="home-date fw-bold">{{ page.date }}</h3>
      <a class="text-decoration-none" href="/blog/{{ page.path }}.html"><h1 class="blog-title text-dark">{{ page.title }}</h1></a>
      <p class="pt-2">{{ page.description }}</p>
    </div>
    <div class="col-3"></div>
  </div>
  {% endfor %}
</main>
{% endblock %}